<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmine's Porfolio</title>
    <%- include('partials/cssincludes.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Portfolio</h1>
        <div class="row">
            <% for(let i = 0; i < cards.length; i++) { %>
                <div class="col s12 m6 l4">
                    
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= cards[i].thumbnailsrc %>" alt="<%= cards[i].title + ' image' %>" srcset="">
                        </div>
                        <div class="card-content grey-text">
                            <span class="card-title"><%- cards[i].title %></span>
                            <p><%- cards[i].subtitle %></p>
                        </div>
                        <div class="card-action">
                            <a href="<%= cards[i].hyperlink %>">Visit this page</a>
                        </div>
                    </div>
                </div>
                <% } %>
            <!--
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title">Four Card Feature</span>
                        <p>This is a frontendmentor challenge</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title">Four Card Feature</span>
                        <p>This is a frontendmentor challenge</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title">Four Card Feature</span>
                        <p>This is a frontendmentor challenge</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-content grey-text">
                        <span class="card-title">Four Card Feature</span>
                        <p>This is a frontendmentor challenge</p>
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>
</body>
<%- include('partials/jsincludes.ejs') %>
<script>
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {draggable: true});
</script>

</html>